<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="oracle.eclipse.tools.coherence.launchConfigurationType">
<mapAttribute key="coherence.system.properties">
<mapEntry key="CacheConfig" value="coherence.cacheconfig"/>
<mapEntry key="ClusterPort" value="coherence.clusterport"/>
</mapAttribute>
<mapAttribute key="coherence.values">
<mapEntry key="CacheConfig" value="coherence-cache-config.xml"/>
<mapEntry key="ClusterPort" value="3115"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CohTest1/appClientModule/com/codepanda/coherence/test/TryIt.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.codepanda.coherence.test.TryIt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CohTest1"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-showversion"/>
</launchConfiguration>
